body {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin: 0px;
}

#pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
}

#quotes {
  margin-left: 1%;
}
